<header class="navbar navbar-fixed-top navbar-inverse">
  <ul class="nav navbar-nav">
    <li>
      <%=link_to "FanTBlog", '#', id: "logo" %>
    </li>
    <li>
      <%=link_to "About", about_main_path %>
    </li>
    <li>
      <%=link_to "Contact", "#" %>
    </li>
    <li>
      <%=link_to "Posts", posts_main_path%>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-left">

    <% if current_user %>
      <li>
        <%=current_user.email %>
      </li>
      <%=link_to "Log Out", session_path( "current"), method: "delete" %>
        <% else %>
          <li>
            <%=link_to "Register", new_user_path %>
          </li>
          <% end %>

  </ul>
</header>
