<div align="center">
<h1>Posts</h1>

<% @posts.each do |post| %>
<h1><%=post.title%></h1>

<p> <%= post.comment %></p>
<%= form_tag posts_create_path do %>
<%=hidden_field_tag 'post_id', post.id%>
<%= label_tag :comment, "Comment"  %>  </br>   
<%= text_area_tag("comment", "" , size: "24x6") %>
<br/>
<%= submit_tag "Comment" %>

<% end %>
<% end %>
</div>
